_site/
node_modules/
.cache

#content/_templates/

# to exclude Obsidian's settings (including plugin and hotkey configurations)
#.obsidian/
content/.obsidian/workspace.json

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
