---
eleventyNavigation:
  key: "Blog"
  order: 1
title: "Blog"
canonical: "blog"
---
<h1>Blog</h1>

{% set postslist = collections.posts %}
{% set postlistCounter = collections.posts | length %}
{% include "postslist.njk" %}
