<footer>
    <!-- Light/Dark Mode toggle -->
    <dark-mode-toggle
        id="color-scheme"
        appearance="toggle"
        legend="Toggle color scheme: "
        permanent=""
    ></dark-mode-toggle>
    
    <p>All Rights Reserved &copy; {% year %}</p>
    <p>This is version {{ pkg.version }}! <a href="/blog/random-list-of-things-to-share/">[More info in #1]</a></p>
    
    <nav>
        <h2 class="visually-hidden">Bottom level navigation menu</h2>
        <ul class="nav nav-footer">
        {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
            {# add Feed to end of nav #}
            <li class="nav-item"><a href="feed.xml" target="_blank">Feed</a></li>
        </ul>
    </nav>

    {# Eleventy link #}
    <p>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></p>
</footer>