<!-- Base layout file -->
<meta property="og:title" content="{{ renderTitle }}">
<meta property="twitter:title" content="{{ renderTitle }}">
<meta property="og:description" content="{{ renderDescription }}">
<meta property="twitter:description" content="{{ renderDescription }}">
<meta property="og:url" content="https://chisenires.design{{ page.url }}">
<meta property="twitter:url" content="https://chisenires.design{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="chisenires.design">
<meta property="twitter:domain" content="chisenires.design">
<meta property="og:image" content="{% socialImageUrl renderTitle, renderDescription %}">
<meta property="twitter:image" content="{% socialImageUrl renderTitle, renderDescription %}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta name="twitter:card" content="summary_large_image">