<!-- Base layout file -->
<meta property="og:title" content="{{ title }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="twitter:description" content="{{ description or metadata.description }}">
<meta property="og:url" content="https://chisenires.design{{ page.url }}">
<meta property="twitter:url" content="https://chisenires.design{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="chisenires.design">
<meta property="twitter:domain" content="chisenires.design">
<meta property="og:image" content="{% socialImageUrl title, (description or metadata.description), hasTempTitle, (content | striptags | safe | truncate(280, false, "...")) %}">
<meta property="twitter:image" content="{% socialImageUrl title, (description or metadata.description), hasTempTitle, (content | striptags | safe | truncate(280, false, "...")) %}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta name="twitter:card" content="summary_large_image">