{# Personal Tracking #}
{%- if process.env.ELEVENTY_RUN_MODE === "production" %}
<script defer src="https://umami.chisenires.design/script.js" data-website-id="82d4b6de-5ddb-4afb-bb8e-515e93b89f91"></script>
{%- endif %}