
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1TSCF57LE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D1TSCF57LE');
</script>

<script src="https://tinylytics.app/embed/sifVktTLQNrszaa3xs7K/min.js" defer></script>