{# References: https://github.com/siakaramalegos/sia.codes-eleventy/blob/main/src/_includes/webmention.njk and https://github.com/maxboeck/eleventy-webmentions/blob/master/_includes/webmention.njk #}

<article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
    <div class="webmention__meta">
        {%- if webmention.author %}
            <span class="p-author h-card webmention__author">
                {% if webmention.author.photo %}
                <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy" class="u-photo webmention__author__photo">
                {% else %}
                <img src="{{ '/img/webmention-avatar-default.svg' }}" alt=" " width="48" height="48" class="webmention__author__photo">
                {% endif %}
                <span><strong class="p-name">{{ webmention.author.name }}</strong></span>
            </span>
        {%- else %}
            <span><strong>Anonymous</strong></span>
        {%- endif %}

        {%- if webmention.published %}
            <time datetime="{{ webmention.published }}" class="postlist-date dt-published webmention__pubdate">{{ webmention.published }}</time>
        {%- endif %}
    </div>

    <p class="webmention__content p-content">
        {{ webmention.content.text | truncate }}
        {%- if webmention.url %}
            <a href="{{ webmention.url }}" class="u-url" rel="noopener noreferrer" target="_blank">
                source <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="10px"><path fill="currentColor" d="M432 320h-32a16 16 0 00-16 16v112H64V128h144a16 16 0 0016-16V80a16 16 0 00-16-16H48a48 48 0 00-48 48v352a48 48 0 0048 48h352a48 48 0 0048-48V336a16 16 0 00-16-16zM488 0H360c-21.37 0-32.05 25.91-17 41l35.73 35.73L135 320.37a24 24 0 000 34L157.67 377a24 24 0 0034 0l243.61-243.68L471 169c15 15 41 4.5 41-17V24a24 24 0 00-24-24z" /></svg>
            </a>
        {%- endif %}
    </p>
</article>