{# References: https://github.com/siakaramalegos/sia.codes-eleventy/blob/main/src/_includes/webmention.njk and https://github.com/maxboeck/eleventy-webmentions/blob/master/_includes/webmention.njk #}

<article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
    <div class="webmention__meta">
        {%- if webmention.author %}
            <span class="p-author h-card webmention__author">
                {% if webmention.author.photo %}
                <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy" class="u-photo webmention__author__photo">
                {% else %}
                <img src="{{ '/img/webmention-avatar-default.svg' }}" alt=" " width="48" height="48" class="webmention__author__photo">
                {% endif %}
                <span><strong class="p-name">{{ webmention.author.name }}</strong></span>
            </span>
        {%- else %}
            <span><strong>Anonymous</strong></span>
        {%- endif %}

        {%- if webmention.published %}
            <time datetime="{{ webmention.published }}" class="postlist-date dt-published webmention__pubdate">{{ webmention.published | readableDate }}</time>
        {%- endif %}

    {%- if webmention.content.text %}
    </div>

    <p class="webmention__content p-content">
        {{ webmention.content.text | truncate(160) }}
        {%- if webmention.url %}
            <a href="{{ webmention.url }}" class="u-url" rel="noopener noreferrer" target="_blank">
                source
            </a>
        {%- endif %}
    </p>
    {%- else %}
        {%- if webmention.url %}
        <a href="{{ webmention.url }}" class="u-url webmention__link_only" rel="noopener noreferrer" target="_blank">
            source
        </a>
        {%- endif %}
    </div>
    {%- endif %}
</article>