<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% set hasTempTitle = false %}
		<title>
			{%- if title %}
				{# if page has title #}
				{{ title }} &bull; {{ metadata.title }}
			{% elif page.url == "/" %}
				{# if home #}
				{{ metadata.title }} {# set to metadata title #}
				{% set hasTempTitle = "home" %}
			{%- else %}
				{# for posts that don't have titles #}
				{% set tempTitle = content | striptags | safe | truncate(60, false, "...") %}
				{{ tempTitle }} &bull; {{ metadata.title }}
				{% set hasTempTitle = true %}
			{%- endif %}
		</title>
		{% set renderedDescription = description %}
		{%- if page.url == "/" %}
			{# special handling for home #}
			{% set renderedDescription = metadata.description %}
		{%- elif renderedDescription == null and tags[0] == "posts" %}
			{# special handling for posts with no explicit description #}
			{% set renderedDescription = page.rawInput | striptags | safe | truncate(180, false, "...") %}
		{%- else %}
			{# for the rest of the pages, default to description (if any) or metadata.description if none #}
			{% set renderedDescription = description or metadata.description %}
		{%- endif %}
		<meta name="description" content="{{ renderedDescription }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site! #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{% include "metadata.njk" %}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/something.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{# <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>

		{# Add Dark/Light Mode Toggle to bundle (?) #}
		{% js %}{% include "node_modules/dark-mode-toggle/src/dark-mode-toggle.mjs" %}{% endjs %}
		{# Also include the toggle to track Dark/Light Mode switch events #}
		{% js %}{% include "public/js/light-dark-switch.js" %}{% endjs %}

		{# Include tracking links #}
		{% include "tracking.njk" %}

		{# favicon #}
		<link rel="icon" href="/img/favicon.png" type="image/png">
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<img src="/img/favicon.png" alt="" style="width: 32px; height: 32px; vertical-align: middle; margin-right: 0.5em;">
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>
		<main id="skip">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		{% include "footer.njk" %}

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
